{% extends 'layout.html' %}

{% block content %}
     <!--User Input Starts from Here-->
    <div class="input">
        <h2 class="text-center" style="text-tranform:uppercase">Enter Your Stock Symbol</h2>

        <form action=".">
            <div class="input-group" style="width:60%;margin-left:18%;">
                <input type="text" class="form-control text-uppercase" placeholder="Example: ADBL ">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
            </div>
        </form>
    </div>



    <!--Actual Homepage content Starts from Here-->

    <div class="nepse">
        <span class="market" id="info">
            <div class="stats">
                <h2 class="text-center">{{ marketStat }}</h2>
            </div>
            <table class="table table-dark">
              <thead id="primaryColor">
                <tr class="table-head">
                  <th scope="col"></th>
                  <th scope="col">NEPSE</th>
                  <th scope="col">Sensitive</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Index</td>
                  <td>{{ intCi }}</td>
                  <td>{{ intSci }}</td>
                </tr>
                <tr>
                  <td>Point Change</td>
                  <td>{{ intPc }}</td>
                  <td>{{ intSpc }}</td>
                </tr>
                <tr>
                  <td>Percent Change</td>
                  <td>{{ intPcc }} %</td>
                  <td>{{ intSpcc }} %</td>
                </tr>
              </tbody>
            </table>

            <div class="stock-turn" style="">
                <h5 class="text-left">
                   Share Volume: {{ intSv }}
                </h5>
                <h5 class="text-right">
                    Turnover: Rs {{ intTo }}
                </h5>
            </div>
        </span>
    </div>


    <div class="gainLose">
        <div class="gain">
            <table class="table table-dark" border="0" cellpadding="0" cellspacing="0" style="width:40%;float:left;margin:1em">
                <thead>

                    <tr class="table-head">
                        <th scope="col">Symbol</th>
                        <th scope="col">LTP</th>
                        <th scope="col">Point Change</th>
                        <th scope="col">% Change</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="lose">
            <table class="table table-dark" border="0" cellpadding="0" cellspacing="0" style="width:40%;float:left;margin:1em">
                <thead>

                    <tr class="table-head">
                        <th scope="col">Symbol</th>
                        <th scope="col">LTP</th>
                        <th scope="col">Point Change</th>
                        <th scope="col">% Change</th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>

    <style>

    div.stats{
        margin:0.8em;
    }
    span.market{
        display:inline-block;
        height:auto;
        width:60%;
        margin-left:18%;
        margin-top:3em;
        border:1px solid #000;
    }

    div.stock-turn{
        padding:1em;
        border-top: 1px solid #000;
    }
    .alignleft {
        float: left;
        margin-left:7em;
    }
    .alignright {
        float: right;
        margin-right:5em;
    }

    </style>

{% endblock %}








