<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
  <div class="container">

    <form action="" method="post" class="form-signin">
      <h2 class="form-signin-heading">Sign Up</h2><br><br><br>
      <label for="inputUsername" class="sr-only">Name  </label><input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus><br><br>
      <label for="inputEmail" class="sr-only">Email   </label><input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus><br><br>
      <label for="inputPassword" class="sr-only">Password   </label><input type="password" id="inputPassword" class="form-control" placeholder="Password" required><br><br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </form>

  </div>
  <style>
    margin-left:250;margin-right:250;margin-top:200;
  </style>
</body>
</html>